.addUserButn {
  margin-bottom: 10px;
}

.allUsersTable {
  max-height: 600px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

button.btn.btn-warning.panelButton.pull-right.saveExit {
  position: relative;
  margin-left: -200px;

}
