.modal-editUser {
    padding-bottom: 30px;
}

.gimmeRoom {
    margin-top: 10px;
}

.newUserExplain {
    width: 300px;
    padding: 30px;
    margin-left: 10px;
    margin-top: 25px;
}

.Acode-warning {
  margin-top: -40px;
}

.leftModal {
    margin-left: 20px;
}

.saveUserbutton {
    position: absolute;
    margin-left: 340px;

}

.modalContent {
    padding-left: 100px;
    padding-right: 10px;
}

.buttonsYo {
    margin-top: 60px;
}
